{% extends "predict/base.html" %}
{% load static %}

{% block css_source %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %} 

{% block body_block%}
<div class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<!-- MODEL NAME -->
				<div class="col-md-4">
					<div class="intro">
						<h1>Wine Quality Prediction Model</h1>
						<p>
							A machine learning model that applies Logistic Regresison algorithm in predicting 
							the quality of good or bad wine based on indicators of wine composition
							<br> <b> - developed by Vĩ Phạm</b>
						</p>
					</div>
				</div>

				<!-- FORM -->
				<div class="col-md-7 col-md-offset-1">
					<div class="input-form">
						<h1 id="recommend">INPUT SHOULD BE IN RECOMMMENDED VALUE RANGE</h1>
						{% csrf_token %}
						<!-- FORM -->
						<form action="{% url 'result' %}">
							<!-- FIRST ROW -->
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Fixed Acidity</span>
										<input class="form-control" type="number" placeholder="4 - 16" required name ='fixed acidity'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Volatile acidity</span>
										<input class="form-control" type="number" placeholder="0 - 1.5" required name ='volatile acidity'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Citric acid</span>
										<input class="form-control" type="number" placeholder="0 - 1" required name ='citric acid'>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Residual sugar</span>
										<input class="form-control" type="number" placeholder="0.9 - 15.5" required name ='residual sugar'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Chlorides</span>
										<input class="form-control" type="number" placeholder="0 - 0.6" required name ='chlorides'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Free sulfur dioxide</span>
										<input class="form-control" type="number" placeholder="1 - 72" required name ='free sulfur dioxide'>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Total sulfur dioxide</span>
										<input class="form-control" type="number" placeholder="6 - 280" required name ='total sulfur dioxide'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Density</span>
										<input class="form-control" type="number" placeholder="0.9 - 1" required name ='density'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">pH</span>
										<input class="form-control" type="number" placeholder="2.7 - 4" required name ='pH'>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Sulphates</span>
										<input class="form-control" type="number" placeholder="0.3 - 2" required name ='sulphates'>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<span class="form-label">Alcohol</span>
										<input class="form-control" type="number" placeholder="8.4 - 14" required name ='alcohol'>
									</div>
								</div>

							</div>
							<div class='row'>
								<div class="col-md-12 form-btn">
									<button type="submit" class="submit-btn">PREDICT</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}